* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  
}

.title {
  
  margin-left: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}
.title1 {
  
  margin-left: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}
table {
  border-collapse: collapse;  
  text-align: center;
}

th {
  font-weight: normal;
  color: #039;
  padding: 10px 15px;
}
td {
  color: #669;
  border-top: 1px solid #000000;
  padding: 10px 15px;
}
tr:nth-child(2n) {
  background: #e8edff;
}
.header {
  
  list-style: none;
  background-color: rgb(41, 158, 103);
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
}
.main1 { 
   justify-content: center;
  list-style: none;
  background-color: rgb(41, 158, 103);
  height: 70px;
  display: flex;
 
  }
.main1 li {
  
  display: inline-block;
  position: relative;
  }
 
.main1 li a { 

  display: block;
  padding: 24px 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .main { 
    justify-content: center;
   list-style: none;
   background-color: rgb(41, 158, 103);
   height: 70px;
   display: flex;
  
   }
 .main li {
   
   display: inline-block;
   position: relative;
   }
  
 .main li a { 
 
   display: block;
   padding: 24px 70px;
   color: rgb(255, 255, 255);
   text-decoration: none;
   text-align: center;
   font-size: 18px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
.navigation {
  float: right;
  height: 100%;
  
}
.navigation li ul{
 
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}
.dropdown li {
  display: block;
}
.dropdown {
  width: 100%;
  background-color: rgb(41, 158, 103);
  position: absolute;
  z-index: 999;
  display: none;
}
ul li a:hover {
  background-color: rgb(18, 196, 151);
}
ul li:hover ul.dropdown {
  display: block;
}
  footer {
    background: rgb(41, 158, 103);
    height: 70px;
  }
  .container {
    width: 100%;
    max-width: 1024px; 
    padding: 0 15px;
    margin: 0 auto;
    background:rgb(41, 158, 103);
    height: 100%;

  list-style: none;
 
  display: flex;
  flex-direction: row;
  align-items: center;
  }
